@import '../imports/fonts';
@import '../imports/variables';

.app-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 1px solid #3f3f3f;
	text-align: left;
	padding: 8px;
	font-size: 32px;
	transition: all 0.3s;
}
.active-ceil {
	position: relative;
	z-index: 9999;
	background: $white;
}
form {
	display: flex;
	gap: 5px;
}
thead {
	th {
		font-weight: 400;
	}
}

form td:last-child {
	display: flex;
	justify-content: space-evenly;
}

form * {
	font-size: 28px;
}

.students-spreadsheet__mark {
	display: none;
}
.popover-elem {
	overflow-y: visible;
	overflow-x: visible;
	background: rgba(0, 0, 0, 0.2);
	.MuiPopover-paper {
		overflow-y: visible;
		overflow-x: visible;
	}
}
