@import '../imports/fonts';
@import '../imports/variables';
@import '../imports/mixins';

.popup-window {
	box-sizing: border-box;
	padding: 20px;
	font-family: $manrope;
	color: $accent-black;
	width: 700px;
	&__title {
		font-weight: 700;
		line-height: 28px;
		margin-bottom: 20px;
		font-size: 24px;
	}
	&__student-info {
		@include flex-element();
	}
	&__date-info {
		@include flex-element();
	}
	&__activity-form {
		display: flex;
		flex-direction: column;
		color: $main-black;
		line-height: 24px;
		justify-content: center;
		label {
			font-size: 15px;
			display: flex;
			align-items: center;
		}
		input {
			margin-right: 10px;
			width: 20px;
			height: 20px;
			border: 2px solid #c5c5c5;
			box-sizing: border-box;
			border-radius: 4px;
		}
	}
	&__field-value {
		border: 2px solid #f5f6fa;
		box-sizing: border-box;
		border-radius: 15px;
		padding: 12px 20px 12px 15px;
	}
	&__polygon {
		position: absolute;
		width: 26px;
		height: 26px;
		top: 42px;
		color: $white;
		font-size: 24px;
		&-left {
			left: -25px;
			transform: rotate(-90deg);
		}
		&-right {
			transform: rotate(90deg);
			right: -24px;
		}
	}
}

.student-info {
	&__label {
		@include label-styles();
	}
	&__fullname {
		@include bold-info-styles();
	}
}
.date-info {
	&__date {
		@include label-styles();
	}
	&__time {
		@include bold-info-styles();
	}
}

.submit-button {
	@include submit-button();
}
